@page "/weather"
@rendermode InteractiveServer
@using BlazorAppMVVM.Components.Model
@using BlazorAppMVVM.Components.ViewModels
@attribute [StreamRendering]
@inject WeatherForecastViewModel ViewModel
@implements IDisposable


<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>
<button @onclick="RefreshWeatherForecast">Refresh</button>

@if (ViewModel.IsBusy)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in ViewModel.WeatherForecastModel.forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        ViewModel.PropertyChanged += async (sender, e) => { 
            await InvokeAsync(StateHasChanged);
        };
        
        await base.OnInitializedAsync();
        ViewModel.FetchWeatherForecast();
    }

    protected void RefreshWeatherForecast()
    {
        ViewModel.FetchWeatherForecast();
    }

    public void Dispose()
    {
        //ViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }

}